<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Welcome to PhotoUploader, <%= @user.name %></h1>
    <p>Your username is: <%= @user.email %>.</p>
    <p>Thanks for joining and have an awesome day!</p>
  </body>
</html>