/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_foundation.min
 *= require_tree .
 *= require_self
 */

/* FONTS */
h1, h2, h3, h4, h5, h6 { font-family: Open Sans; font-weight: 300 }
body { font-family: Open Sans }
html { font-family: Open Sans }
p { font-family: Open Sans }
a { font-family: Open Sans }
a.login { font-size: 14px; font-weight: 500; display:inline }


/* FORM ELEMENTS */
textarea { height: 100px }


/* FORM VALIDATION */
input.invalid, textarea.invalid{ border: 2px solid red }
input.valid, textarea.valid{ border: 2px solid green }


/* LOGIN SCREEN */ 
.signup-panel form input, .signup-panel form span { height: 50px }
.signup-panel i { font-size: 30px; line-height: 50px; color: #999 }
.signup-panel .welcome { font-size: 26px; font-weight: 300; text-align: center; margin-left: 0 }
.signup-panel { border-radius: 5px; border: 1px solid #ccc; padding: 15px 15px 0 15px; margin-top: 30px; background: #fff;
                -webkit-box-shadow: 0 10px 10px -8px rgba(0,0,0,0.6);
                -moz-box-shadow: 0 10px 10px -8px rgba(0,0,0,0.6);
                box-shadow: 0 10px 10px -8px rgba(0,0,0,0.6) }

.background { position: fixed; background:rgba(0,0,0,0.6); width: 100%; height: 100%; top: 0px; left: 0px }


/* UPLOAD SCREEN */ 
.upload-panel form input, .signup-panel form span { height: 50px }
.upload-panel i { font-size: 30px; line-height: 50px; color: #999 }
.upload-panel .welcome { font-size: 26px; font-weight: 300; text-align: center; margin-left: 0 }
.upload-panel { border-radius: 5px; border: 1px solid #ccc; padding: 15px 15px 0 15px; margin-top: 30px; background: #fff;
                -webkit-box-shadow: 0 10px 10px -8px rgba(0,0,0,0.6);
                -moz-box-shadow: 0 10px 10px -8px rgba(0,0,0,0.6);
                box-shadow: 0 10px 10px -8px rgba(0,0,0,0.6) }

.upload-background { display: none; position: fixed; background:rgba(0,0,0,0.6); width: 100%; height: 100%; top: 0px; left: 0px }


.hidden { display: none }
.reveal { display: block }
.top-section { margin: 30px 0 22px; padding: 0 0 22px 0 }  