<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="/">Photo App</a></h1>
    </li>
    <li><div class="toggle-topbar menu-icon"><span>Menu</span></div></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
        <% if user_signed_in? %>
            <li class="divider hide-for-small"></li>
            <li><a class="modal-reveal">Upload Photo</a></li>
            <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
            <li><%= link_to "Sign up", new_user_registration_path, {class: 'signup-nav'} %></li>
        <% end %>
    </ul>
  </section>
</nav>